<div class="container">
    <div class="card mt-15 bg-light">
      <div class="card-body">
        <h4 class="card-title">Output</h4>
        <p class="card-text">.
                   Power:{{res.input.powerKVA}}<br>
                    Voltage:{{res.input.voltageV}}<br>
                    Redundancy Unit:{{res.input.redundancyUnit}}<br>
                    Power Factor:{{res.input.pf}}<br>
                    Battery Runtime:{{res.input.batteryRuntimeMin}}<br>
                    Country:{{res.input.country}}<br>
                    Region:{{res.input.region}}<br>
                    External Bypass:{{res.input.externalBypass}}<br><br></p>
                    <hr>
                    <table class="table ">
                        <thead>
                          <tr>
                            <th>Part Name</th>
                            <th>Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">XYZ djj</th>
                            <td>2</td>
                          </tr>
                          <tr>
                              <th scope="row">dfkkf</th>
                              <td>2</td>
                            </tr>
                        </tbody>
                    </table>
      </div>
    </div>
  </div>