.container
{
    margin:0px;
    padding:0px;
}
.result
{
    border-radius: 5%;
    margin-top:10px;
    margin-bottom: 10px;
}
.mat-icon-button
{
    padding-top: 5px;
    padding-left: 10px;
    height:65px;
    width:40px;
}
table
{
    width: 100%;
}
  
.example-header-image {
    background-color: black;
    height: 120px;
    width:100px;
    background-size: cover;
  }
.mat-header-cell
{
    font-size: 20px;
}
.mat-card-title
{
    margin-top: 5%;
    margin-left:64%;
}
.mat-card-header
{
  padding-bottom: 8px;
}
.mat-card-subtitle
{
    margin-left:70%;
    margin-top:4px;
}
.mat-cell{
    padding-left:5%;
}
.instruction
{
    padding-left: 5%;
    padding-top:5px;
    text-align: center;
}
.footer
{
    bottom: 0;
   height: 25px;
   background-color: #3dcd58;
}

.lb{
    background-color: #3dcd58;
    width:100%;
}
.footcl
{
    //margin-left: 30%;
    text-align: center;
}


$green: #16a085;


.card {
  margin-top: 45px;
  color: #444;
  border: 1px solid #999;
  border-radius: 4px;
  background: #eee;
  text-align: center;
  padding-top: 35px;
  width:100%;
  float: left;
  padding-bottom: 0px;
  margin-bottom: 5px;
  :before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 24px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
  }
  .heading {
    margin-top:40px;
    font-size: 60em;
  }
  .card-separator {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  .inputpower
  {
      font-size: 20em;
  }
  
}


  
.card-green {
  border-top: 4px solid $green;
  :before {
    color: $green;
    content: "\f060";
    font-family: 'FontAwesome';
  }
  .card-separator {
    border: 1px solid $green;
  }
}