

table
{
    width: 100%;
}
  
  .mat-card-title
  {
      text-align: center;
      margin-left: 7%;
      //font-size: 25px;
  }
.mat-card-content
{
    text-align: center;
}
.mat-header-cell
{
    text-align: center;
    padding-left: 15px;
}
.footer
{
    bottom: 0;
   height: 25px;
   background-color: #3dcd58;
}

.lb{
    background-color: #3dcd58;
    width:100%;
}
.footcl
{
    //margin-left: 30%;
    text-align: center;
}