body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.card
{
    
    text-align: center;
    
}
.table
{
    text-align: center;
}
.footer
{
    bottom: 0;
   height: 25px;
   background-color: #3dcd58;
}

.lb{
    background-color: #3dcd58;
    width:100%;
}
.footcl
{
    //margin-left: 30%;

    text-align: center;
}