body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.card
{
    
    text-align: center;
    
}
.table
{
    text-align: center;
}
.footer
{
    bottom: 0;
<<<<<<< HEAD
   height: 25px;
=======
   height: 15px;
>>>>>>> 2d71e0dd4f3dfbf428354c21435d8048e2db50bd
   background-color: #3dcd58;
}

.lb{
    background-color: #3dcd58;
    width:100%;
}
.footcl
{
    //margin-left: 30%;
<<<<<<< HEAD

=======
>>>>>>> 2d71e0dd4f3dfbf428354c21435d8048e2db50bd
    text-align: center;
}