.container
{
    margin:0px;
    padding:0px;
}
.result
{
    border-radius: 5%;
    margin-top:10px;
    margin-bottom: 10px;
}
.mat-icon-button
{
    padding-top: 5px;
    padding-left: 10px;
    height:65px;
    width:40px;
}
table
{
    width: 100%;
}
  
.example-header-image {
    background-color: black;
    height: 120px;
    width:100px;
    background-size: cover;
  }
.mat-header-cell
{
    font-size: 20px;
}
.mat-card-title
{
    margin-top: 5%;
    margin-left:64%;
}
.mat-card-header
{
  padding-bottom: 8px;
}
.mat-card-subtitle
{
    margin-left:70%;
    margin-top:4px;
}
.mat-cell{
    padding-left:5%;
}
.instruction
{
    padding-left: 5%;
    padding-top:5px;
    text-align: center;
}
.footer
{
    bottom: 0;
   height: 25px;
   background-color: #3dcd58;
}

.lb{
    background-color: #3dcd58;
    width:100%;
}
.footcl
{
    //margin-left: 30%;
    text-align: center;
}