.card
{
   // max-width: 40;
    //margin-left: 30%;
    text-align: center;
    
}
.table
{
    text-align: center;
}
.footer
{
    bottom: 0;
   height: 15px;
   background-color: #3dcd58;
}

.foott{
    background-color: #3dcd58;
    width:100%;
}
.footcl
{
    //margin-left: 30%;
    text-align: center;
}