
.navclass
{
    background-color: #3dcd58;
    border-color: #e7e7e7;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    color:white;
    margin-top:0px;
}

mat-button-toggle{
    padding: 1em;
    text-align: center;

}


.mat-slide-toggle-thumb{
    background-color: #1cc348;
}

mat-slider{
    width: 20em;
}


mat-form-field{
    width: 100%;
}





.mat-slider-track-fill {
    background-color: #30cc52;
}


.button-icons{
    font-size: 4em;
    color:#313338;
    text-align: center;

}


.card{
    padding: 2em;
}

.productCard{
    
    // border: 2px solid black;


}

.mat-list-item{
    height: 40px !important;
}

.productName{
    text-align: right;
    padding-right: 1em;
    padding-top: 0.5em;
    line-height: 2em;
    font-size: 1.6em;
    background-color: #00C853;
    color: white;
    // border-top-left-radius: 6%;
    // border-top-right-radius: 6%;
}


.productImage{
    position: absolute;
    height: 160px;
    width: 115px;
    background-color: black;
    top: 2em;
    left: 3em;
}



.detailContainer{
    position: relative;
    height: 85%;
    width: 70%;
    left: 28%;
    line-height: 0.2em;
}

.upsProp{
    position: relative;
    height: 100%;
    width: 50%;
    
    float: left;
}

.upsPropValue{
    position: relative;
    height: 100%;
    width: 50%;
    
    float: right;
}


.buttonContainer{
    position: relative;
    left: 1em;
    top: -3em;

}

button:hover{
    background-color: #00C853;
}


// .downloadBtn{
//     padding-right: 1em;
// }

.viewBtn{
    margin-top: 0.5em;
}


.mat-button{
    background-color: #BDBDBD
}



.mat-tab-body-content{
    overflow: hidden;
}


.navBtn{
    float: right;
}

.mat-step-header .mat-step-icon-not-touched {
    background-color: white !important;
    color: #fff;
}