mat-button-toggle{
    padding: 1em;
    text-align: center;

}


.mat-slide-toggle-thumb{
    background-color: #1cc348;
}

mat-slider{
    width: 20em;
}


mat-form-field{
    width: 100%;
}



.mat-slider-track-fill {
    background-color: #30cc52;
}


.button-icons{
    font-size: 4em;
    color:#313338;
    text-align: center;

}


.card{
    padding: 2em;
}

.productCard{
    
    position: relative;
    border-radius: 10%;
    width: 70%;
    padding: 0em;
    margin-top: 3em;
    left: 15%;
}

.productName{
    text-align: right;
    padding-right: 4em;
    padding-top: 1em;
    line-height: 2em;
    font-size: 2.5em;
    background-color: #00C853;
    color: white;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}


.productImage{
    position: absolute;
    height: 185px;
    width: 138px;
    background-color: black;
    top: 5em;
    left: 3em;
}



.detailContainer{
    position: relative;
    height: 85%;
    width: 70%;
    left: 28%;
    line-height: 0.2em;
}

.upsProp{
    position: relative;
    height: 100%;
    width: 50%;
    
    float: left;
}

.upsPropValue{
    position: relative;
    height: 100%;
    width: 50%;
    
    float: right;
}


.buttonContainer{
    position: relative;
    left: 1em;
    top: -4em;

}

button:hover{
    background-color: #00C853;
}


// .downloadBtn{
//     padding-right: 1em;
// }

.viewBtn{
    margin-top: 0.5em;
}


.mat-button{
    background-color: #BDBDBD
}

.mat-tab-body-content{
    overflow: hidden;
}