<nav class="navbar navbar-expand-lg navclass">
  <a class="navbar-brand anav" href="#">
    <img src="../assets/images/logo2.png">
  </a>
  <h4 class="apname mt-2 ml-5">UPS Facet Mining </h4>
</nav>

<div class="container-fluid bg">


  <div class="card-body">
    <form (submit)="searchUPS()">

      <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form>
            <ng-template matStepLabel>Power
              <strong>{{inputPower}}</strong> kVA</ng-template>


            <mat-form-field appearance="outline">
              <mat-label>Power (kVA)</mat-label>
              <input matInput placeholder="100" [(ngModel)]="inputPower" name="power">
              <mat-icon matSuffix>offline_bolt</mat-icon>
            </mat-form-field>

            <div class="row">

              <div class="col col-md-6 col-sm-6">
                <fieldset class="form-group">
                  <legend>Power</legend>
                  <div class="col-md-6 col-sm-6">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="inputPower" name="inputPowerType" (click)="stepper.next()">
                      <mat-button-toggle value="All">
                        <i class="material-icons button-icons">
                          flash_on
                        </i>
                        <br>
                        <strong>All</strong>
                      </mat-button-toggle>
                      <mat-button-toggle value="480">
                        <i class="material-icons button-icons">
                          flash_on
                        </i>
                        <br>
                        <strong>480 kVA</strong>
                      </mat-button-toggle>
                      <mat-button-toggle value="40">
                        <i class="material-icons button-icons">
                          flash_on
                        </i>
                        <br>
                        <strong>40 kVA</strong>
                      </mat-button-toggle>
                      <mat-button-toggle value="100">
                        <i class="material-icons button-icons">
                          flash_on
                        </i>
                        <br>
                        <strong>100 kVA</strong>
                      </mat-button-toggle>
                      <mat-button-toggle value="200">
                        <i class="material-icons button-icons">
                          flash_on
                        </i>
                        <br>
                        <strong>200 kVA</strong>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>

                </fieldset>
              </div>
              <div class="col col-md-6 navBtnCont">
                <button mat-button class="navBtn" matStepperNext>
                  <i class="material-icons">
                    navigate_next
                  </i>
                </button>
              </div>

            </div>

          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form>
            <ng-template matStepLabel>Runtime
              <strong>{{inputRunTime}}</strong> Mins</ng-template>

            <mat-form-field appearance="outline">
              <mat-label>Battery Runtime (Mins)</mat-label>
              <input matInput placeholder="10" [(ngModel)]="inputRunTime" name="runtime">
              <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>

            <div class="row">

              <div class="col col-md-6">
                <fieldset class="form-group">
                  <legend>Runtime</legend>

                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="inputRunTime" name="inputRunTime" (click)="stepper.next()">
                    <mat-button-toggle value="All">
                      <i class="material-icons button-icons">
                        access_time
                      </i>
                      <br>
                      <strong>All</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="5">
                      <i class="material-icons button-icons">
                        access_time
                      </i>
                      <br>
                      <strong>5 Mins</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="10">
                      <i class="material-icons button-icons">
                        access_time
                      </i>
                      <br>
                      <strong>10 Mins</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="20">
                      <i class="material-icons button-icons">
                        access_time
                      </i>
                      <br>
                      <strong>20 Mins</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="30">
                      <i class="material-icons button-icons">
                        access_time
                      </i>
                      <br>
                      <strong>30 Mins</strong>
                    </mat-button-toggle>
                  </mat-button-toggle-group>

                </fieldset>
              </div>

              <div class="col col-md-6 navBtnCont">

                <button mat-button class="navBtn" matStepperNext>
                  <i class="material-icons">
                    navigate_next
                  </i>
                </button>
                <button mat-button class="navBtn" matStepperPrevious>
                  <i class="material-icons">
                    navigate_before
                  </i>
                </button>
              </div>

            </div>


          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
          <form>
            <ng-template matStepLabel>UPS
              <strong>{{inputUPSType}}</strong>
            </ng-template>

            <mat-form-field appearance="outline">
              <mat-label>UPS</mat-label>
              <input matInput placeholder="10" [(ngModel)]="inputUPSType" name="inputUPSType">
              <mat-icon matSuffix>flash_on</mat-icon>
            </mat-form-field>
            <div class="row">

              <div class="col col-md-6">
                <fieldset class="form-group">
                  <legend>UPS Type</legend>

                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="inputUPSType" name="inputUPSType" (click)="stepper.next()">
                    <mat-button-toggle value="All">
                      <i class="material-icons button-icons">
                        flash_on
                      </i>
                      <br>
                      <strong>All</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="Galaxy 7000">
                      <i class="material-icons button-icons">
                        flash_on
                      </i>
                      <br>
                      <strong>Galaxy 7000</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="Galaxy 5000">
                      <i class="material-icons button-icons">
                        flash_on
                      </i>
                      <br>
                      <strong>Galaxy 5000</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="Galaxy VX">
                      <i class="material-icons button-icons">
                        flash_on
                      </i>
                      <br>
                      <strong>Galaxy VX</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="Galaxy VM">
                      <i class="material-icons button-icons">
                        flash_on
                      </i>
                      <br>
                      <strong>Galaxy VM</strong>
                    </mat-button-toggle>
                  </mat-button-toggle-group>

                </fieldset>
              </div>

              <div class="col col-md-6 navBtnCont">

                <button mat-button class="navBtn" matStepperNext>
                  <i class="material-icons">
                    navigate_next
                  </i>
                </button>
                <button mat-button class="navBtn" matStepperPrevious>
                  <i class="material-icons">
                    navigate_before
                  </i>
                </button>
              </div>
            </div>



          </form>
        </mat-step>


        <mat-step [stepControl]="fourthFormGroup">
          <form>
            <mat-form-field appearance="outline">
              <mat-label>Region</mat-label>
              <input matInput placeholder="10" [(ngModel)]="inputRegion" name="inputRegion">
              <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>
            <ng-template matStepLabel>Region
              <strong>{{inputRegion}}</strong>
            </ng-template>




            <div class="row">

              <div class="col col-md-6">
                <fieldset class="form-group">
                  <legend>Region</legend>

                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="inputRegion" name="inputRegion" (click)="stepper.next()"
                    [ngModelOptions]="{standalone: true}">
                    <mat-button-toggle value="All">
                      <i class="material-icons button-icons">
                        location_on
                      </i>
                      <br>
                      <strong>All</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="APJ">
                      <i class="material-icons button-icons">
                        location_on
                      </i>
                      <br>
                      <strong>APJ</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="NAM">
                      <i class="material-icons button-icons">
                        location_on
                      </i>
                      <br>
                      <strong>NAM</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="EMEA">
                      <i class="material-icons button-icons">
                        location_on
                      </i>
                      <br>
                      <strong>EMEA</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="LAM">
                      <i class="material-icons button-icons">
                        location_on
                      </i>
                      <br>
                      <strong>LAM</strong>
                    </mat-button-toggle>
                    <mat-button-toggle value="GC">
                      <i class="material-icons button-icons">
                        location_on
                      </i>
                      <br>
                      <strong>GC</strong>
                    </mat-button-toggle>
                  </mat-button-toggle-group>

                </fieldset>
              </div>
              <div class="col col-md-6 navBtnCont">

                <button mat-button class="navBtn" matStepperNext>
                  <i class="material-icons">
                    navigate_next
                  </i>
                </button>
                <button mat-button class="navBtn" matStepperPrevious>
                  <i class="material-icons">
                    navigate_before
                  </i>
                </button>
              </div>
            </div>



          </form>
        </mat-step>


        <mat-step [stepControl]="fifthFormGroup">
          <form>
            <ng-template matStepLabel>More Options</ng-template>
            <div class="form-row">






              <!-- </div> -->
              <!-- <div class="form-row"> -->

              <div class="form-group col-md-4">
                <mat-label>
                  <strong>Redundancy Unit</strong>
                </mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="inputRedundancyUnit" name="inputRedundancyUnit">
                  <mat-button-toggle value="0">
                    <i class="material-icons button-icons">
                      control_point_duplicate
                    </i>
                    <br>
                    <strong>N</strong>
                  </mat-button-toggle>
                  <mat-button-toggle value="1">
                    <i class="material-icons button-icons">
                      control_point_duplicate
                    </i>
                    <br>
                    <strong>N + 1</strong>
                  </mat-button-toggle>
                  <mat-button-toggle value="2N">
                    <i class="material-icons button-icons">
                      control_point_duplicate
                    </i>
                    <br>
                    <strong>2N</strong>
                  </mat-button-toggle>
                  <mat-button-toggle value="2N+1">
                    <i class="material-icons button-icons">
                      control_point_duplicate
                    </i>
                    <br>
                    <strong>2N + 1</strong>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>





            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <mat-label for="externalBypass">
                  <strong>External Bypass </strong>
                </mat-label>
                <mat-slide-toggle [(ngModel)]="bypassSlider" name="bypassSlider"></mat-slide-toggle>
              </div>

              <div class="form-group col-md-4">
                <mat-label>Lag </mat-label>
                <mat-slide-toggle [(ngModel)]="powerFactorToggle" name="powerFactorToggle"></mat-slide-toggle>
                <mat-label>Lead</mat-label>
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6">
                <mat-label>
                  <strong>Power Factor</strong>
                </mat-label>
                <mat-slider thumbLabel tickInterval="1" min="0" max="1" step="0.1" value="0.9" name="powerFactorSlider" [(ngModel)]="powerFactorSlider"></mat-slider>
              </div>

              <div class="col col-md-6">

                <button mat-button class="navBtn" (click)="resetbutton()">Reset</button>
                <button mat-button class="navBtn" matStepperPrevious>
                  <i class="material-icons">
                    navigate_before
                  </i>
                </button>
              </div>

            </div>



          </form>
        </mat-step>
      </mat-horizontal-stepper>
      <!-- </mat-tab-group> -->
      <div class="row searchBtnCont">

        <button type="submit" class="btn btn-success searchBtn" >Search</button>

      </div>
    </form>
  </div>
  <!-- </div> -->
  <!-- </div> -->

  <div class="col-md-12">

    
    <div class="col-md-5 col-sm-12 col-xs-12 productCard" style="float: left;" *ngFor="let ups of result;let i=index" [attr.data-index]="i">


      <div class="productImage">
        <img src="../../../assets/images/Galaxy 5000.png" height="100%" width="">

      </div>
      <div class="card-header productName">
        {{ups.input.upsType}}
        <br>
        <h5 class="card-subtitle mb-2 text-muted">{{ups.input.powerKVA}} kVA</h5>
      </div>
      <div class="card-body productDetails">
        <div class="detailContainer">
          <div class="upsProp">

            <mat-list>
              <mat-list-item>
                <strong>Voltage</strong>&nbsp;
                <i class="material-icons">
                  offline_bolt
                </i>
              </mat-list-item>
              <mat-list-item>
                <strong>Runtime</strong>&nbsp;
                <i class="material-icons">
                  access_time
                </i>
              </mat-list-item>
              <mat-list-item>
                <strong>Bypass Type</strong>
              </mat-list-item>
              <mat-list-item>
                <strong>Power Factor</strong>
              </mat-list-item>
            </mat-list>

          </div>
          <div class="upsPropValue">

            <mat-list>
              <mat-list-item>{{ups.input.voltageV}}

              </mat-list-item>
              <mat-list-item>{{ups.input.batteryRuntimeMin}} Mins

              </mat-list-item>
              <mat-list-item>{{ups.input.externalBypass}}</mat-list-item>
              <mat-list-item>{{ups.input.pf}}</mat-list-item>

            </mat-list>

          </div>
          <!-- <mat-progress-bar mode="determinate" value="90"></mat-progress-bar> -->
        </div>



        <div class="buttonContainer">
          <!--<button mat-button class="downloadBtn">Download
            <i class="material-icons">
              cloud_download
            </i>
          </button>-->
          <br>
          <button mat-button class="viewBtn" (click)="newMessage(i)" [routerLink]="['/searchdisplay']">View
            <i class="material-icons">
              view_module
            </i>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>






<router-outlet></router-outlet>
