

.mat-step-header .mat-step-icon{
    background-color: #00C853 !important;
}
.navtoggle
{
   color:white;
    font-family: "OpenSans";
    font-size: 18px;
}
.navclass
{
    background-color: #3dcd58;
    border-color: #e7e7e7;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    color:white;
}

mat-button-toggle{
    padding: 0.6em;
    text-align: center;

}

.card-body{
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
    margin-bottom: 1em;

}

.searchBtn{
    margin-left: 47%;
    margin-top: 1%;
}

.searchBtnCont{
    text-align: center;
}

.navBtnCont{
    margin-top: 5em;
}

.mat-slide-toggle-thumb{
    background-color: #1cc348;
}

mat-slider{
    width: 20em;
}


mat-form-field{
    width: 100%;
}





.mat-slider-track-fill {
    background-color: #30cc52;
}


.button-icons{
    font-size: 2em;
    color:#313338;
    text-align: center;

}


.card{
    padding: 2em;
   
}

.productDetails{
    padding: 0%;
    border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;
}


.productCard{
    
    margin-top: 2em;
    margin-bottom:1em;
    width:48%;
    margin-right:3em;
    margin-left:3em;
   border-radius: 5% !important;
   //box-shadow:5px 10px #616266;
}

.mat-list-item{
    height: 40px !important;
    padding-left: 1px;
}

.productName{
    text-align: right;
    padding-right: 1em;
    padding-top: 0.5em;
    line-height: 2em;
    font-size: 1.6em;
    background-color: #00C853;
    color: white;
     border-top-left-radius: 5%;
     border-top-right-radius: 5%;
}


.productImage{
    position: absolute;
    height: 160px;
    width: 115px;
    background-color: black;
    top: 2em;
    left: 3em;
}

:host(.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill){
    background-color: green !important;
}



.detailContainer{
    position: relative;
    height: 85%;
    width: 70%;
    left: 28%;
    line-height: 0.2em;
}

.upsProp{
    position: relative;
    height: 100%;
    width: 50%;
    
    float: left;
}

.upsPropValue{
    position: relative;
    height: 100%;
    width: 50%;
    
    float: right;
}


.buttonContainer{
    position: relative;
    left: 1em;
    top: -3em;

}

button:hover{
    background-color: #00C853;
}


// .downloadBtn{
//     padding-right: 1em;
// }

.viewBtn{
    margin-top: 0.5em;
}


.mat-button{
    background-color: #BDBDBD
}



.mat-tab-body-content{
    overflow: hidden;
}


.navBtn{
    float: right;
}

.mat-step-header .mat-step-icon-not-touched {
    background-color: white !important;
    color: #fff;
}


